/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.progress{
  background: linear-gradient(90deg, 
   rgba(58, 110, 180,1) 0%,
   rgba(126, 212, 87, 1) 20%,
   rgba(248, 212, 73, 1) 40%,
   rgba(235, 77, 96, 1) 60%,
   rgba(180, 96, 231, 1) 80%,
   rgba(178, 34, 34, 1) 100%);
}

.temperature {
  background-image: linear-gradient(
    to  right,
    #00dfff 0%,
    #00f9ff 20%,
    rgba(180, 96, 231, 1),
    rgba(178, 34, 34, 1),
    orange,
    yellow
  ); 
} */


@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .progress {
    background: linear-gradient(
      90deg,
      rgba(58, 110, 180, 1) 0%,
      rgba(126, 212, 87, 1) 20%,
      rgba(248, 212, 73, 1) 40%,
      rgba(235, 77, 96, 1) 60%,
      rgba(180, 96, 231, 1) 80%,
      rgba(178, 34, 34, 1) 100%
    );
  }

  .temperature {
    background-image: linear-gradient(to right, #00dfff 0%, #00f9ff 20%, yellow);
  }

  @media screen and (max-width: 581px) {
    .btn-group {
      position: fixed;
      bottom: 2%;
      right: 1rem;
      z-index: 1000;
    }
  
    .btn-group button {
      box-shadow: 2px 3px 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
    }
  
    .search-container {
      width: 100%;
    }
  
    .search-btn {
      width: 100%;
    }
  
    .search-btn button {
      width: 100%;
    }
  
    .source-code-btn {
      order: -1;
    }
  }
  
  @media screen and (max-width: 1010px) {
    .mapbox-con {
      flex-direction: column;
    }
  
    .mapbox-con > div:first-child {
      height: 24rem;
      flex: initial;
    }
  }



  :root {
    --primary-color: #191919;
    --white: #FFFFFF;
    --sidebar-hover: #1D242E;
    --sidebar-bg: #0E1420;
    --bg: #30373F;
    --text-link: #E7EAEE;
    --logout: #FA7575;
    --headline-text: #546471;
    --text: #E7EAEE;
    --divider-bg: var(--bg);
    --border-color: var(--bg);
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    /* padding: 1rem; */
    /* height: 100%; */
    /* background: var(--bg); */
  }
  
  /* html {
    height: 100%;
  } */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1rem;
    user-select: none;
    max-width: 18rem;
    min-width: 4.5rem;
    display: flex;
    color: var(--white);
    border: 1px solid #252C36;
    flex-direction: column;
    background: var(--sidebar-bg);
    transition: max-width 0.2s ease-in-out;
  }
  
  .sidebar h2 {
    color: var(--headline-text);
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
  }
  
  /*? sidebar top */
  .sidebar-top-wrapper {
    position: relative;
    display: flex;
  }
  
  .sidebar-top {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 4rem;
    padding: 1rem;
    padding-top: 2rem;
  }
  
  .logo__wrapper {
    display: flex;
    align-items: center;
    color: var(--text-link);
    padding-left: 0.2rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.35rem;
    gap: 0.75rem;
  }
  
  .logo-small {
    height: 3rem;
    width: 3rem;
    border-radius: 0.4rem;
    padding: 0.25rem;
    overflow: hidden;
    object-fit: cover;
  }
  
  .company-name {
    white-space: nowrap;
  }
  
  /*? menu links */
  
  .sidebar-links-wrapper {
    overflow: hidden;
    padding: 1rem;
    position: relative;
  }
  

  
  .sidebar-links ul {
    list-style-type: none;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
  }
  
  .sidebar-links li {
    color: var(--text-link);
    min-width: 3rem;
  }
  
  .sidebar-links li svg {
    stroke: var(--text-link);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
  }
  
  .sidebar-links li a:hover {
    background: var(--sidebar-hover);
  }
  
  .sidebar-links li a {
    color: var(--text-link);
    width: 100%;
    padding: 0 0.6rem;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 3.25rem;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
  }
  
  .sidebar-links li a .link {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
  }
  
  .sidebar-links .active:hover {
    background: var(--sidebar-hover);
  }
  
  .sidebar-links .active {
    text-decoration: none;
    background: var(--sidebar-hover);
    color: var(--text-link);
  }
  
  .sidebar-links .active svg {
    stroke: var(--text-link);
  }
  
  .divider {
    display: none;
  }
  
  /*? profile part */
  .sidebar__profile {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    color: var(--text-link);
    overflow: hidden;
    min-height: 4rem;
    margin-top: auto;
  }
  
  .avatar__wrapper {
    position: relative;
    display: flex;
  }
  
  .avatar {
    display: block;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  
  .avatar__name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
  }
  
  .user-name {
    font-weight: 600;
    text-align: left;
    color: var(--text-link);
  }
  
  .email {
    color: var(--text-link);
    font-size: 0.8rem;
  }
  
  /*? Expand button */
  .expand-btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: var(--sidebar-bg);
    z-index: 2;
    border: 1px solid var(--border-color);
    right: -1.25rem;
    top: 1.40rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }
  
  .expand-btn svg {
    transform: rotate(-180deg);
    stroke: var(--text-link);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  @keyframes fadeIn {
    from {
      width: 4rem;
      opacity: 0;
    }
  
    to {
      opacity: 1;
      width: 100%;
    }
  }
  
  .sidebar__profile .logout {
    margin-left: auto;
    height: 2.25rem;
    width: 2.25rem;
    cursor: pointer;
    stroke: var(--logout);
  }
  
  .main-item > .expand-icon {
    margin-left: auto;
    transition: all ease-in-out 0.25s;
  }
  
  .main-item--open > .expand-icon {
    transform: rotate(-90deg);
  }
  
  .main-item ~ ul {
    border-left: 2px solid var(--sidebar-hover);
    margin-left: 0.875rem;
    padding-left: 0.425rem;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 200ms;
  }
  
  .main-item--open ~ ul {
    visibility: visible;
    margin-top: 1rem;
    opacity: 1;
    max-height: 25rem;
  }




  .collapsed .sidebar h2 {
    display: none;
  }
  
  .collapsed .sidebar {
    max-width: 5rem;
    display: flex;
  }
  
  .collapsed .hide {
    position: absolute;
    visibility: hidden;
  }

  .collapsed .divider {
    width: 100%;
    display: block;
    background: var(--divider-bg);
    height: 2px;
    margin: 0.5rem 0;
  }

  .collapsed .sidebar-links-wrapper {
    overflow: hidden;
  }

  .collapsed .expand-btn svg {
    transform: rotate(-360deg);
  }

  .collapsed .expand-icon {
    display: none;
  }